version: "3.8"

services:
  postgres:
    image: postgres
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - elections-net
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: maladydiallo2@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8080:80" # tu accéderas à pgAdmin via http://localhost:8080
    depends_on:
      - postgres
    networks:
      - elections-net
  sonarqube:
    container_name: sonarqube1
    image: sonarqube
    depends_on:
      - postgres
    environment:
      - SONAR_JDBC_USERNAME=admin
      - SONAR_JDBC_PASSWORD=sadmin123
      - SONAR_JDBC_URL=jdbc:postgresql://postgres:5432/sonarqube
    ports:
      - 9000:9000
    volumes:
      - sonar_conf:/opt/sonarqube/conf
      - sonar_data:/opt/sonarqube/data
      - sonar_extensions:/opt/sonarqube/extensions
      - sonar_bundled_pluggins:/opt/sonarqube/lib/bundled-plugins

    networks:
      - elections-net

  mysql:
    image: mysql
    container_name: mysql-auth
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_service
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - elections-net
  election-service:
    image: election-service:latest
    container_name: election-service
    ports:
      - "8000:8000"
    environment:
      DB_NAME: elections
      DB_PORT: 5432
      DB_HOST: postgres
      DB_USER: admin
      DB_PASSWORD: admin123
    depends_on:
      - postgres
    networks:
      - elections-net

  ocr-service:
    image: ocr-service:latest
    container_name: ocr-service
    ports:
      - "8001:8001"
    networks:
      - elections-net

  auth-service:
    container_name: auth-service
    image: auth-service:latest
    ports:
      - "8082:8082"
    depends_on:
      - mysql
    environment:
      - MYSQL_URL=jdbc:mysql://mysql:3306/user_service
      - DB_USERNAME=root
      - DB_PASSWORD=root
    networks:
      - elections-net

  statistique-service:
    image: statistique-service:latest
    container_name: statistique-service
    ports:
      - "8002:8002"
    environment:
      DB_NAME: dw_elections
      DB_PORT: 5432
      DB_HOST: postgres
      DB_USER: admin
      DB_PASSWORD: admin123
    depends_on:
      - postgres
    networks:
      - elections-net

  api-gateway:
    container_name: api-gateway
    image: api-gateway:latest
    ports:
      - "8080:8080"
    environment:
      - AUTH_SERVICE_HOST=auth-service
      - AUTH_SERVICE_PORT=8082
      - ELECTION_SERVICE_HOST=election-service
      - ELECTION_SERVICE_PORT=8000
      - OCR_SERVICE_HOST=ocr-service
      - OCR_SERVICE_PORT=8001
      - STAT_SERVICE_HOST=statistique-service
      - STAT_SERVICE_PORT=8002

    networks:
      - elections-net

  frontend:
    container_name: frontend
    image: frontend:latest
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:8080
    networks:
      - elections-net

  nifi:
    image: apache/nifi:1.27.0
    container_name: apchenifi
    ports:
      - 8443:8443
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - SINGLE_USER_CREDENTIALS_USERNAME=admin
      - SINGLE_USER_CREDENTIALS_PASSWORD=1234567891011
    volumes:
      - nifi_content_repository:/opt/nifi/nifi-current/content_repository
      - nifi_database_repository:/opt/nifi/nifi-current/database_repository
      - nifi_flowfile_repository:/opt/nifi/nifi-current/flowfile_repository
      - nifi_provenance_repository:/opt/nifi/nifi-current/provenance_repository
      - nifi_logs:/opt/nifi/nifi-current/logs
      - nifi_conf:/opt/nifi/nifi-current/conf
      - nifi_state:/opt/nifi/nifi-current/state
      - ./nifidata:/opt/nifi/nifi-current/nifi-data
    networks:
      - elections-net
    depends_on:
      - postgres

networks:
  elections-net:

volumes:
  pg_data:
  es_data:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
  nifi_content_repository:
  nifi_database_repository:
  nifi_flowfile_repository:
  nifi_provenance_repository:
  nifi_logs:
  nifi_conf:
  nifi_state:
  mysql_data:
  sonar_bundled_pluggins:
  sonar_conf:
  sonar_data:
  sonar_extensions:

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:8.11.0
  #   container_name: elasticsearch
  #   environment:
  #     - discovery.type=single-node
  #     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
  #     - xpack.security.enabled=false
  #   ports:
  #     - "9200:9200"
  #     - "9300:9300"
  #   volumes:
  #     - es_data:/usr/share/elasticsearch/data
  #   networks:
  #     - elections-net
  #   healthcheck:
  #     test:
  #       ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 5

  # logstash:
  #   image: docker.elastic.co/logstash/logstash:8.11.0
  #   container_name: logstash
  #   volumes:
  #     - ./elk/logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
  #     - ./elk/logstash/pipeline:/usr/share/logstash/pipeline
  #     - ./logs:/logs
  #   ports:
  #     - "5044:5044"
  #     - "9600:9600"
  #   environment:
  #     LS_JAVA_OPTS: "-Xmx256m -Xms256m"
  #   networks:
  #     - elections-net
  #   depends_on:
  #     - elasticsearch

  # kibana:
  #   image: docker.elastic.co/kibana/kibana:8.11.0
  #   container_name: kibana
  #   ports:
  #     - "5601:5601"
  #   environment:
  #     ELASTICSEARCH_HOSTS: http://elasticsearch:9200
  #   networks:
  #     - elections-net
  #   depends_on:
  #     - elasticsearch

  # sonarqube:
  #   image: sonarqube:latest
  #   container_name: sonarqube
  #   depends_on:
  #     - postgres
  #   ports:
  #     - "9000:9000"
  #   environment:
  #     SONAR_JDBC_URL: jdbc:postgresql://postgres:5432/sonar
  #     SONAR_JDBC_USERNAME: admin
  #     SONAR_JDBC_PASSWORD: admin123
  #   volumes:
  #     - sonarqube_data:/opt/sonarqube/data
  #     - sonarqube_extensions:/opt/sonarqube/extensions
  #     - sonarqube_logs:/opt/sonarqube/logs
  #   networks:
  #     - elections-net
